LetsGoBiking/Serveur/Connected Services/ProxyService/Proxy2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Proxy" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Proxy" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="APIResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Response" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIResponse" nillable="true" type="tns:APIResponse" />
</xs:schema>